.player {
    background-color: rgba(17, 17, 17, 0.164);
    flex-direction: column-reverse;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    text-align: center;
    width: 200px;
    height: 150px;
    span {
        font-weight: bold;
        font-size: 25px;
        margin-left: 0px;
        max-width: 100%;
    }
    img {
        margin-bottom: 20px;
        margin-top: 20px;
        cursor: pointer;
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: rgb(255, 174, 0) !important;
}

.avatar-box {
    background-color: white;
    position: absolute;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 170px;
    width: 300px;
    img {
        margin: 20px;
        width: 80px;
    }
}

@media only screen and (max-width: 1100px) {
    .player {
        flex-direction: column-reverse;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-left-radius: 80%;
        border-bottom-right-radius: 80%;
        text-align: center;
        width: 110px;
        height: 150px;
        span {
            font-size: 25px;
            margin-left: 0px;
        }
        img {
            margin-bottom: 20px;
            margin-top: 20px;
            cursor: pointer;
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 100%;
        }
    }
}

@media only screen and (max-width: 500px) {
    .player {
        flex-direction: column-reverse;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-left-radius: 80%;
        border-bottom-right-radius: 80%;
        text-align: center;
        width: 60px;
        height: 100px;
        span {
            font-size: 14px;
            margin-left: 0px;
        }
        img {
            margin-bottom: 20px;
            margin-top: 10px;
            cursor: pointer;
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 100%;
        }
    }
}