<div id="imprint" class="impressum">
    <div class="impressum-content">
        <h1>Impressum</h1>

        <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
        <p>Marco Beer<br /> Fraunhoferstr. 4<br /> 83714 Miesbach</p>
        <br>
        <h2>Kontakt</h2>
        <p> E-Mail: marco.beer@web.de</p>
        <br>
        <h2>Logo und Icons</h2>
        <p>Icons stammen u.A. von <a href="https://icons8.com">https://icons8.com</a></p>
        <br>
        <p>Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
        </p>
        <button routerLink="/game">Back to game</button>
    </div>

</div>